{% extends 'base.html.twig' %}

{% block body %}
	<header>
		<h2>
			<a class="nav-link" href="{{ path('app_home') }}">SB CARS</a>
		</h2>
		<nav>
			<li>
				<a class="nav-link" href="#services">Услуги</a>
			</li>
			<li>
				<a class="nav-link" href="#contact">Контакти</a>
			</li>
			<li>
				<a class="nav-link" href="{{ path('app_login') }}">Вход</a>
			</li>
		</nav>
	</header>
	<div id="app">
		<section class="hero">
			<div class="background-image" style="background-image: url(assets/img/hero.jpg);"></div>
			<vue-player src="http://techslides.com/demos/sample-videos/small.mp4"></vue-player>
		</section>

		<section class="our-work">
			<h3 class="title">Как работи ?</h3>
			<p>
				Регистрирай се, попълни въпросника и ние ще Ви предложим автомобилът, който търсите до няколко дни
			</p>
			<hr>

			<ul class="grid">
				<li class="small" style="background-image: url(assets/img/20211122_164635.jpg);"></li>
				<li class="large" style="background-image: url(assets/img/20220218_123357.jpg);"></li>
				<li class="large" style="background-image: url(assets/img/20220305_101129.jpg);"></li>
				<li class="small" style="background-image: url(assets/img/20220508_152027.jpg);"></li>
			</div>
		</section>


		<section class="features">
			<h3 id="services" class="title">Услуги</h3>
			<p>
				Всеки знае, че търсенето на автомобил е сложен и времеотнемащ процес. Ние ще го направим вместо Вас.
																																																																																																																																																																																																																			   Нашият екип ще намери най-добрият автомобил на конкурентна цена, с пълна сервизна история, доказан произход и проверен от нашият екип от
																																																																																																																																																																																																																			   квалифицирани монтьори. Работим с коли от Германия, Франция, Нидерландия и Белгия.</p>
			<hr>

			<ul class="grid">
				<li>
					<i class="fa fa-clock-o"></i>
					<h4>Време</h4>
					<p>Спестете време, оставете търсенето на перфектният автомобил на нас. Той ще бъде доставен до избран от Вас адрес в рамките на месец</p>
				</li>
				<li>
					<i class="fa fa-money"></i>
					<h4>Спестете пари</h4>
					<p>Ние ще намерим мечтачния автомобил без надценка. Единственото, за което се заплаща, е за търсенето</p>
				</li>
				<li>
					<i class="fa fa-search"></i>
					<h4>Техническа проверка</h4>
					<p>Нашият екип ще провери безплатно автомобила вместо Вас. Автомобили с технически проблеми не се закупуват</p>
				</li>
			</div>
		</section>


		<section class="reviews">

			<div class="container container-survey" id="contact">
				<form action="{{ path('contact_create') }}" method="post" id="form1">
					<div class="row">
						<div class="col-md-12">
							<div class="card bg-light">
								<div class="card-body">
									<div class="card-header">Контактна форма</div>
									<div class="form-group">
										<label for="exampleFormControlSelectTypeOf">Заглавие</label>
										<input type="text" name="title" class="form-control" placeholder="Заглавие">
									</div>

									<div class="form-group">
										<label for="exampleFormControlSelectModel">Имейл</label>
										<input type="text" name="email" class="form-control" placeholder="Имейл">
									</div>

									<div class="form-group">
										<label for="exampleFormControlSelectEngine">Запитване</label>
										<textarea class="form-control" name="question" id="exampleFormControlTextarea1" rows="3"></textarea>
									</div>


									<button form="form1" value="Submit" class="btn btn-primary btn-block">Изпрати запитване</button>

								</div>
							</div>
						</div>
					</form>
				</div>
			</section>

			{% if app.session.has('notice') %}
				<div id="notice-home">
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						{{ app.session.get('notice') }}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>


			{% endif %}

		</div>
	{% endblock %}
